.App {
  text-align: center;
}


.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 7%;
  margin-right: 7%;
}

.card {
  height: 50%;
  width: 21%;
  margin: 1%;
 border: 2px solid black;
 border-radius: 20px;
}

img{
width: 100%;
height: 80%;
}

.cardInfo{
  width: 95%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cardInfo-column {
  display: flex;
  flex-direction: column;
  
  font-size: 15px;
}

.songs{
  font-size: 20px;
  font-weight: bold;
}

.price {
  display: flex;
  width: auto;
}
.price img{
  width: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  margin-top: 20px;
  height: 30px;
}